body {
    background-color: #fff5ea;
    margin: 0px;
    overflow-y: overlay;
    overflow-x: hidden;
    user-select: none;
    font-size: 12px;
}

.container {
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 20px 20px 20px;
    width: 340px;
    min-height: 340px;
    text-align: center;
}

.select-container {
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

select option:first-child {
    color: #6d6d6d;
}


button {
    background-color: #970645d1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #970645;
}

h1 {
    float: left;
}

h1 img {
    max-width: 30px;
}

.disabled {
    display: none;
}

#header {
    overflow: hidden;
    width: 100%;
}

.message {
    overflow: hidden;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background: #b1dbe5;
    color: #3d3c3c;
}

#task { 
    float: left;
    max-width: 80px;
    padding: 5px;
    margin-bottom: 15px;
}