<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Noffort: Configure the integration</title>
</head>
<body>
    <div class="container">
        <img src="/images/logo.png" alt="Noffort Logo" class="logo">
        <p>Provide your <a href="https://app.clockify.me/user/settings" target="_blank" title="Click and Scroll all the page">Clockify API KEY</a> below to access the service.</p>
        <form id="apiKeyForm" action="#">
            <div class="input-container">
                <input type="password" id="apiKey" class="input-field" placeholder="Enter your Clockify API key" required>
            </div>
            <div class="input-container">
                <input type="password" id="apiKeyKb" class="input-field" placeholder="Enter your Kanbanize API key" required>
                <span>Click in your account Avatar > My Account > API tab.</span>
            </div>
            <div class="input-container">
                <input type="url" id="baseUrlKb" class="input-field" placeholder="Enter your Kanbanize base url: https://example.kanbanize.com" required>
            </div>
            <div class="terms-of-use">
                <input type="checkbox" name="terms_of_use" id="terms-of-use" required>
                <label for="terms-of-use">I Agree with <a target="_blank" href="https://noffort.co/terms-of-use">Terms of Use</a></label>
            </div>
            <button type="submit" class="submit-button" id="submit-button">Submit</button>
        </form>
    </div>
    <div id="bg" class="background disabled">
        <div class="loader"></div>
    </div>
</body>

<script src="/scripts/kanbanize.js" type="text/javascript"></script>
<script src="/scripts/auth.js" type="text/javascript"></script>

</html>
