<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/popup.css">
    <title>Select Fields</title>
</head>
<body>
    <div class="container">
        <div id="header">
            <h1>
                <img src="/images/noffort_128.png" alt="Noffort Logo">
            </h1>
        </div>
        <div class="select-container">
            <select id="project">
                <option value="default">Project*</option>
                <option value="project2">Project 2</option>
                <option value="project3">Project 3</option>
            </select>
        </div>
        <div class="select-container">
            <select id="tag">
                <option value="default">Tag</option>
                <option value="tag2">Tag 2</option>
                <option value="tag3">Tag 3</option>
            </select>
        </div>
        <button type="button">Submit</button>
    </div>
</body>
</html>
